<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
	<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<h1>Pet Index</h1>
<ul>
		<% for(let i = 0; i < pets.length; i++){ %>
			<li>
				<a href='/pets/<%=pets[i].id %>'><%=pets[i].name%></a>
 			</li>
 			<form action="/pets/<%=pets[i].id %>?_method=DELETE" method="POST">
			<button type="submit">Delete</button>
		</form>
 		<%}%>
</ul>
<!-- <script src="/javascripts/app.js"></script> -->
</body>
</html>