<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Pet Index</h3>
<ul>
		<% for(let i = 0; i < pets.length; i++){ %>
			<li>
				<a href='/pets/<%=pets[i].id %>'><%=pets[i].name%></a>
 			</li>
 			<form action="/pets/<%=pets[i].id %>?_method=DELETE" method="POST">
			<button type="submit">Delete</button>
		</form>
 		<%}%>
</ul>
<script src="/javascripts/app.js">
</body>
</html>