<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Pet Index</h3>
<ul>
		<% for(let i = 0; i < pets.length; i++){ %>
			<li>
				<a href='/pet/<%=i%>'><%=pets[i].name%></a>
 			</li>
 			<form action="/pet/<%= i%>?_method=DELETE" method="POST">
			<button type="submit">Delete</button>
		</form>
 		<%}%>
</ul>
<script src="/javascripts/app.js">
</body>
</html>