<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
	<link rel="stylesheet" href="/styles/style.css">

</head>
<body>
<h1>Pets Show Page</h1>

	The <%= pet.type %>, <%= pet.name %>, is <%= pet.color%> and is <%= pet.age %> years old.
<!-- /*<script src="/javascripts/app.js"></script>*/ -->
</body>
</html>